ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

body {
    width: 440px;
    padding: 24px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#categories {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

h2 {
    margin: 0;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #2E2F42;
}

.item {
    display: flex;
    flex-direction: column;
    background-color: #F6F6FE;
    width: 100%;
    border-radius: 8px;
    gap: 16px;
    padding: 16px;
}

.item > ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.item > ul > li {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #2E2F42;

    border: 1px solid #808080;
    border-radius: 4px;
    height: 40px;
    padding-left: 16px;
    align-content: center;
}